// Grand Central Station
@import 'normalize';
@import 'google-homepage';


/* Styling */
body {
    background: black;
background-image:url("img/url.jpg")}

// Stage (Parent)
#stage {
    position: relative;
    overflow: hidden;}

//Child
#stage svg {
    position: absolute;
    bottom: -10;
    right: -100;}

// Child
#stage h1 {
    position: absolute;
    top: 40%;
    left: 30%;
    font-family: 'Poppins', serif;}

// Animation go here!!
#stage h1,
#stage svg {
    opacity: 0;
    transition: opacity 1.5s;}

//Last frame
#stage:hover h1,
#stage:hover svg{
    opacity: 1;}